* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #131414;
}

.menu, .options, .about {
  background: #33333337;
  padding: 15px 20px;
  border-radius: 6px;
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  align-items: flex-start;
  width: 40%;
}

.about .controls-text {
  color: #4e8ca5;
  text-shadow: 0 0 3px #4e8ca5;
}

.about p {
  font-size: 0.8rem;
  color: #fff;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  text-shadow: 0 0 3px #fff;
  font-weight: 200;
  line-height: 2rem;
  font-family: sans-serif;
}

.about #about-start{
  color: #73ff00;
  text-shadow: 0 0 3px #73ff00;
  font-size: 1.4rem;
}

.about .mode-specifier {
  color: #4d4f6b;
  text-shadow: 0 0 3px #4d4f6b;
}

.about h5 {
  margin-top: 3rem;
  margin-right: auto;
  color: #ff002b;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  text-shadow: 0 0 3px #ff002b;
  font-weight: 200;
  line-height: 2rem;
  font-family: sans-serif;
}

.menu a, .options a, .about a, .restart-modal a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 9rem;
  height: 3rem;
  background-color: #444;
  border-radius: 3px;
  margin: 1rem;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 7px #fff;
  transition: box-shadow 100ms ease-in-out,  background 100ms ease-in-out, display 500ms ease-in-out;
}

.about a {
  margin: 2rem 0 0 0;
}

.restart-modal a {
 width: 10rem;
}

.restart-modal h2 {
  font-size: 1.9rem;
  margin-top: 1rem;
  color: #fff;
  text-shadow: 0 0 7px #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.options a {
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
  width: 11rem;
  height: 2.4rem;
}

.menu a:hover, .options a:hover, .about a:hover, .restart-modal a:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #77e4ff93;
}

.restart-modal a:hover {
  box-shadow: 0 0 20px #ffffff;
}

.menu a:active, .restart-modal a:active {
  cursor: pointer;
  background-color: #222;
  box-shadow: none;
}

#version {
  margin-top: 2.5rem;
  font-size: 0.7rem;
  color: #707070ee;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  text-shadow: 0 0 13px #fff;
  margin-bottom: 4rem;
  letter-spacing: 3px;
}


.options_opt {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131414;
  z-index: 10;
  transition: display 500ms ease-in-out;
}


.show {
  visibility: visible;
  display: block;
}

.hide {
  visibility: hidden;
  display: none;
  position: unset;
  width: 0;
  height: 0;
}

.option {
  padding: 12px;
  margin: 0 0 3rem 0;
}

.option h4 {
  margin-bottom: 0.65rem;
  font-weight: 200;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.option select, .option select option {
  width: 9rem;
  height: 2.5rem;
  background-color: #111;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.restart-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000086;
  z-index: 12;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  padding: 15px 20px;
  width: 30%;
  border-radius: 10px;
}

.game-details {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.game-details div {
  display: flex;
  align-items: center;
}

.game-details div span {
  margin-left: 0.4rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

#life-cntnr, #ammo-cntnr, #clips-cntnr {
  font-size: 0.8rem;
}

#life-cntnr {
  color: #ff002b;
  font-size: 1.3rem;
}

#ammo-cntnr, #clips-cntnr {
  color: #c8ff00;
}