* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* background: #406279; */
}

canvas {
  cursor: crosshair;
}